<div class="flex flex-col items-center w-full">
  <div class="flex items-center w-full">
    <p class="pr-2 text-sm font-roboto ">{{num}}</p>
    <hr class="flex-grow border-gray-500">
  </div>
  <section class="w-full h-[360px] border-2 border-gray-500 flex flex-col justify-center items-center p-4">
    <figure class="pt-2 w-10 h-10">
      <img src="{{svg}}" alt="{{boldText}}">
    </figure>
    <h2 class="font-bold text-3xl pt-3 text-center">{{boldText}}</h2>
    <p class="font-roboto text-[20px] pt-1.5 pb-2 pl-10 pr-10 text-center">{{Text}}</p>
  </section>
</div>
