<div class="relative h-60">
  <img [src]="apiBaseUrl + images![currentImageIndex]" alt="Image" class="w-full h-full object-cover">
  <div class="absolute inset-0 flex items-center justify-between">
    <button
      (click)="previousImage()"
      [disabled]="currentImageIndex === 0"
      class="button-nav rounded-l">
      Prev
    </button>
    <button
      (click)="nextImage()"
      [disabled]="currentImageIndex === images!.length - 1"
      class="button-nav rounded-r">
      Next
    </button>
  </div>
</div>
