<footer class="bg-black text-white py-8">
  <div class="container mx-auto flex flex-wrap justify-between items-center">
    <div class="w-full md:w-1/2 lg:w-1/3 md:pl-8 lg:pl-12">
      <div class="flex items-center mb-4">
        <img src="assets/png/LOGO-.png" alt="Car dealership logo" class="w-50 h-10 mr-2">
      </div>
      <div class="flex items-center mb-4">
        <img src="assets/svg/icons8-address-50.png" alt="Address icon" class="w-6 h-6 mr-2">
        <span>2715 Ash Dr. San Jose, South Dakota 83475</span>
      </div>
      <div class="flex items-center mb-4">
        <img src="assets/svg/icons8-phone-50.png" alt="Phone icon" class="w-6 h-6 mr-2">
        <span>(316) 555-0116</span>
      </div>
      <div class="flex items-center">
        <a href="#" class="mr-4"><img src="assets/svg/face.svg" alt="Facebook icon" class="w-8 h-8"></a>
        <a href="#"><img src="assets/svg/insta.svg" alt="Instagram icon" class="w-8 h-8"></a>
      </div>
    </div>

    <div class="w-full md:w-1/2 lg:w-1/3 mt-4 md:mt-0">
      <ul class="flex flex-col md:flex-row lg:flex-col gap-4">
        <li><a [routerLink]="['/']" class="hover:underline hover:text-gray-300">{{translate.instant('home') }}</a></li>
        <li><a [routerLink]="['/shop']" class="hover:underline hover:text-gray-300">{{translate.instant('shop') }}</a></li>
        <li><a [routerLink]="['/about-us']" class="hover:underline hover:text-gray-300">{{translate.instant('about') }}</a></li>
        <li><a [routerLink]="['/FAQ']" class="hover:underline hover:text-gray-300">{{translate.instant('FAQ') }}</a></li>
      </ul>
    </div>
  </div>
  <div class="container mx-auto mt-8 border-t border-gray-800 pt-4 text-center">
    <p>{{translate.instant('copyRight') }}</p>
  </div>
</footer>
