<div class="relative">
  <img [src]="apiBaseUrl+images![currentImageIndex]" alt="Image" class="w-full h-60 object-cover">
  <div class="absolute inset-0 flex items-center justify-between">
    <button (click)="previousImage()" [disabled]="currentImageIndex === 0" class="bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded-l" aria-label="Previous Image">
      Prev
    </button>
    <button (click)="nextImage()" [disabled]="currentImageIndex === images!.length - 1" class="bg-white hover:bg-gray-200 text-gray-800 font-bold py-2 px-4 rounded-r" aria-label="Next Image">
      Next
    </button>
  </div>
</div>