<div class="swiper-container">
  <div class="swiper-wrapper">
    <div *ngFor="let car of cars" class="swiper-slide">
      <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg md:max-w-5xl p-4 md:p-6">
        <div class="md:flex">
          <div class="md:flex-shrink-0">
            <img class="h-60 w-full md:h-96 rounded-lg object-cover hover:scale-105 transition-transform" [src]="apiBaseUrl + car.coverPhotoUrl" [alt]="car.name" (error)="car.coverPhotoUrl='fallback.jpg'" loading="lazy">
          </div>
          <div class="md:pl-6 mt-6 md:mt-0">
            <div class="text-indigo-500 font-semibold text-lg uppercase">{{ car.year }}</div>
            <div class="text-3xl md:text-4xl font-semibold text-gray-900 mt-2">{{ car.brandName }} {{ car.name }}</div>
            <p class="text-gray-500 text-xl line-clamp-3 mt-4">{{ car.description }}</p>
            <div class="flex items-center mt-4">
              <span class="text-4xl font-semibold text-indigo-600">{{ car.price }} AED</span>
              <span class="text-sm text-gray-600 dark:text-gray-400 ml-2">/day</span>
            </div>
            <div class="mt-6">
              <a [routerLink]="['/car-profile']" [queryParams]="{ carId: car.id }" class="px-8 py-3 text-xl font-semibold text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 transform hover:scale-105 transition-transform">
                Get It Now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
