<section class="bg-white ">
    <article class="py-12 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-8">
      <header class="mb-8 max-w-screen-sm mx-auto">
        <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 ">Customer Testimonials</h2>
        <p class="mt-4 text-gray-600 ">See what our customers are saying about their experience renting luxury cars from Turbo Plus.</p>
      </header>
      <div class="grid gap-8 md:grid-cols-1 lg:grid-cols-3">
        <div *ngFor="let testimonial of testimonials" class="bg-gray-50  border border-gray-200  p-8 md:p-10 lg:p-12">
          <blockquote class="mb-6 max-w-2xl mx-auto text-gray-700 ">
            <h3 class="text-xl font-semibold text-gray-900 ">{{ testimonial.car }}</h3>
            <p class="mt-2">{{ testimonial.quote }}</p>
          </blockquote>
          <div class="flex items-center space-x-4">
            <img class="w-14 h-14 rounded-full object-cover" [src]="testimonial.image" [alt]="testimonial.name">
            <div>
              <div class="text-lg font-semibold text-gray-900 ">{{ testimonial.name }}</div>
              <div class="text-gray-600 ">{{ testimonial.position }}</div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  