<div class="md:w-full pb-12 text-center pt-16">
  <h1 class="text-4xl md:text-6xl font-bold text-black mb-8">Customer Reviews</h1>
  <figure class="max-w-screen-md mx-auto" data-carousel-item>
    <div class="flex flex-row items-center justify-center mb-6 text-yellow-300">
      <div *ngFor="let rating of ratings">
        <div *ngIf="rating.id === currentRating" class="flex items-center">
          <div *ngFor="let star of rating.stars; let i = index">
            <img src="../../../assets/svg/star.svg" alt="star" class="w-7 h-7 mr-1 transition-transform transform hover:scale-125"
                 [ngClass]="{'opacity-50': star === 0, 'animate-pulse': i === 0}">
          </div>
        </div>
      </div>
    </div>
    <blockquote class="text-xl font-semibold text-gray-900 dark:text-white">
      <p>{{ currentReview }}</p>
    </blockquote>
    <figcaption class="flex items-center mt-8 space-x-3 text-gray-700 dark:text-gray-400">
      <cite class="font-medium">{{ currentReviewer }}</cite>
      <span class="text-sm">&bull;</span>
      <span class="text-sm">{{ currentProduct }}</span>
    </figcaption>
  </figure>
</div>
