
  <div class="max-w-3xl mx-auto p-4 bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-extrabold text-gray-800 text-center mb-6">{{translate.instant('The Most Common Questions') }}</h1>

    <div class="border-t border-gray-300 p-4">
      <div class="flex justify-between items-center">
        <div class="text-xl font-semibold text-black cursor-pointer" (click)="faq1.isExpanded = !faq1.isExpanded">
          {{translate.instant('q1') }}
        </div>
        <svg [class.rotate-180]="faq1.isExpanded" xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6 text-gray-600 transition-transform transform" viewBox="0 0 24 24">
          <path d="M18 15l-6-6-6 6h12z"/>
        </svg>
      </div>
      <div *ngIf="faq1.isExpanded" class="mt-4 text-gray-800">
        {{translate.instant('a1') }}
      </div>
    </div>

    <div class="border-t border-gray-300 p-4">
      <div class="flex justify-between items-center">
        <div class="text-xl font-semibold text-black cursor-pointer" (click)="faq2.isExpanded = !faq2.isExpanded">
          {{translate.instant('q2') }}
        </div>
        <svg [class.rotate-180]="faq2.isExpanded" xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6 text-gray-600 transition-transform transform" viewBox="0 0 24 24">
          <path d="M18 15l-6-6-6 6h12z"/>
        </svg>
      </div>
      <div *ngIf="faq2.isExpanded" class="mt-4 text-gray-800">
        {{translate.instant('a2') }}
      </div>
    </div>

    <div class="border-t border-gray-300 p-4">
      <div class="flex justify-between items-center">
        <div class="text-xl font-semibold text-black cursor-pointer" (click)="faq3.isExpanded = !faq3.isExpanded">
          {{translate.instant('q3') }}
        </div>
        <svg [class.rotate-180]="faq3.isExpanded" xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6 text-gray-600 transition-transform transform" viewBox="0 0 24 24">
          <path d="M18 15l-6-6-6 6h12z"/>
        </svg>
      </div>
      <div *ngIf="faq3.isExpanded" class="mt-4 text-gray-800">
        {{translate.instant('a3') }}
      </div>
    </div>

    <div class="border-t border-gray-300 p-4">
      <div class="flex justify-between items-center">
        <div class="text-xl font-semibold text-black cursor-pointer" (click)="faq4.isExpanded = !faq4.isExpanded">
          {{translate.instant('q4') }}
        </div>
        <svg [class.rotate-180]="faq4.isExpanded" xmlns="http://www.w3.org/2000/svg"
             class="h-6 w-6 text-gray-600 transition-transform transform" viewBox="0 0 24 24">
          <path d="M18 15l-6-6-6 6h12z"/>
        </svg>
      </div>
      <div *ngIf="faq4.isExpanded" class="mt-4 text-gray-800">
        {{translate.instant('a4') }}
      </div>
    </div>
  </div>
