<!-- tab-component.component.html -->
<div class="pt-32 lg:px-[130px] sm:px-16">
  <img src="assets/images/pexels-mo-ismail-3763190.jpg" alt="Dubai" class="object-cover w-full h-[500px]">
  <div class="pt-6">
    <h1 class="text-4xl md:text-5xl sm:text-3xl font-sans text-black"> {{translate.instant('Benefits')}}</h1>
    <div class="pt-4 mb-4 border-b border-gray-200 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" role="tablist">
        <li>
          <button class="inline-block p-4 border-b-2 rounded-t-lg"
                  [class.active-tab]="selectedTabIndex === 0" (click)="selectTab(0)">
            {{translate.instant('Saving Time')}}
          </button>
        </li>
        <li>
          <button class="inline-block p-4 border-b-2 rounded-t-lg"
                  [class.active-tab]="selectedTabIndex === 1" (click)="selectTab(1)">
            {{translate.instant('Low Crime Rate')}}
          </button>
        </li>
        <li>
          <button class="inline-block p-4 border-b-2 rounded-t-lg"
                  [class.active-tab]="selectedTabIndex === 2" (click)="selectTab(2)">
            {{translate.instant('Car Park')}}
          </button>
        </li>
        <li>
          <button class="inline-block p-4 border-b-2 rounded-t-lg"
                  [class.active-tab]="selectedTabIndex === 3" (click)="selectTab(3)">
            {{translate.instant('Car Delivery')}}
          </button>
        </li>
      </ul>
    </div>
    <div>
      <div [class.hidden]="selectedTabIndex !== 0">
        <article class="text-lg text-gray-500 dark:text-gray-400">{{translate.instant('Saving Time1')}}</article>
      </div>
      <div [class.hidden]="selectedTabIndex !== 1">
        <article class="text-lg text-gray-500 dark:text-gray-400">{{translate.instant('Low Crime Rate1')}}</article>
      </div>
      <div [class.hidden]="selectedTabIndex !== 2">
        <article class="text-lg text-gray-500 dark:text-gray-400">{{translate.instant('Car Park1')}}</article>
      </div>
      <div [class.hidden]="selectedTabIndex !== 3">
        <article class="text-lg text-gray-500 dark:text-gray-400">{{translate.instant('Car Delivery1')}}</article>
      </div>
    </div>
  </div>
</div>
