<!-- tab-component.html -->
<div class="pt-32 lg:px-[130px] sm:px-16">
  <img src="assets/images/pexels-mo-ismail-3763190.jpg" alt="Dubai" class="object-cover w-full h-[500px]">
  <div class="pt-6">
    <h1 class="text-4xl md:text-5xl sm:text-3xl font-sans text-black">Benefits of Renting a Car in Dubai</h1>
    <div class="pt-4 mb-4 border-b border-gray-200 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" role="tablist">
        <li class="mr-2" role="presentation" *ngFor="let tab of tabs; let i = index"
            [ngClass]="{'active-tab': i === selectedTabIndex}">
          <button class="inline-block p-4 border-b-2 rounded-t-lg" [id]="'tab-' + i" [attr.data-tabs-target]="'content-' + i"
                  type="button" role="tab" [attr.aria-selected]="i === selectedTabIndex" (click)="selectTab(i)">
            {{ tab.title }}
          </button>
        </li>
      </ul>
    </div>
    <div id="myTabContent">
      <div [class.hidden]="i !== selectedTabIndex" *ngFor="let tab of tabs; let i = index" [id]="'content-' + i" role="tabpanel"
           [attr.aria-labelledby]="'tab-' + i">
        <article class="text-lg text-gray-500 dark:text-gray-400">{{ tab.content }}</article>
      </div>
    </div>
  </div>
</div>
